*{
padding: 0;
margin: 0;
}

.button_label {
    pointer-events : none;
}

#board_control_panel {
    width : 150px;
    height : 400px;
    float : left;
    margin-top : 200px
}

.board_control_panel_button {
    fill : pink;
    fill-opacity : 0.2;
    stroke : black;
    stroke-width : 1;
}

.board_control_panel_button:hover {
    fill : pink;
    fill-opacity : 0.1;
    stroke : black;
    stroke-width : 2;
}

#board_window {
    float : left;
}

.board_square_empty {
    fill : blue;
    fill-opacity : 0.1;
    stroke : azure;
}

.board_square_wall {
    fill : black;
    fill-opacity : 0.9;
    stroke : azure;
}

/*.A_tank {
    transition: transform 0.1s ease;
}*/

.A_tank_body {
    fill : #27391C;
    stroke : #18230F;
    stroke-width : 5;
}

.A_tank_barrel {
    fill : #1F7D53;
    stroke : #255F38;
    stroke-width : 5;
}

.B_tank_body {
    fill : #B03052;
    stroke : #3D0301;
    stroke-width : 5;
}

.B_tank_barrel {
    fill : #EBE8DB;
    stroke : #D76C82;
    stroke-width : 5;
}

